<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mrandroid.app">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Plants"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance"
        tools:targetApi="31">
        <activity
            android:name=".activity.main.PlantDetailsActivity"
            android:exported="false"
            android:label="Plant Details">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.AddPlantActivity"
            android:exported="false"
            android:label="Add Plant">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.auth.SignupActivity"
            android:exported="false"
            android:label="Signup"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false"
            android:label="Login">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.auth.SplashActivity"
            android:exported="true"
            android:label="Plants">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.main.HomeActivity"
            android:exported="true"
            android:label="Home"/>
        <activity
            android:name=".activity.main.CartActivity"
            android:exported="true"
            android:label="Cart" />
        <activity
            android:name=".activity.main.CheckoutActivity"
            android:exported="true"
            android:label="Checkout" />
        <activity
            android:name=".activity.main.AboutUsActivity"
            android:exported="true"
            android:label="About us" />
        <activity
            android:name=".activity.main.RatingActivity"
            android:exported="true"
            android:label="Rate us" />
        <activity
            android:name=".activity.main.ReviewActivity"
            android:exported="true"
            android:label="Reviews" />
    </application>

</manifest>